


<div class="container assetDiv" >

		<div class="col-md-12 column">
			<ul class="breadcrumb"  style="height: 48px;">
				<li>
					<a href="#/pms">Projects</a> <span class="divider"></span>
				</li>
				<li>
                <a href="#/pms/{{asset.repository.project_id}}">{{asset.repository.name}}</a> <span class="divider"></span>
                </li>
                <li >
                <a href="#/ams/c/{{asset.collection.id}}">{{asset.collection.name}}</a> <span class="divider"></span>
				</li>
				<li class="active">
				    {{asset.fullname}}
                    </li>
                    <span class="pull-right" ng-if="asset.owner_id==$parent.userInfo.userid">
                        <button id="collectionAddButton" class="btn btn-default btn-sm" ng-click="deleteAsset()" type="button"> 
                            <em class="glyphicon glyphicon-trash"></em>
                        </button>
                    </span>

			</ul>
        </div>


		<div class="col-md-12 column">
                <div class="col-md-3" ng-if="asset">
					<div class="thumbnail asm_thumb_solo">
                        <div class="col-md-12 asm_upper">
                            <div ng-if="asset.thumbnail"> 
                                <a title="{{asset.fullname}} {{asset.description}}" class="collectionImages" title="{{asset.description}}">
                                <img class="thumbnail" class="asm_col_thumb_img thumbnail"  ng-src="{{'/static/'+asset.thumbnail}}" /></a>
                            </div>
                            <div ng-if="!asset.thumbnail"> 
                                <a title="{{asset.fullname}} {{asset.description}}" class="collectionImages" style="cursor:pointer" title="{{asset.description}}">
                                <img class="thumbnail" class="asm_col_thumb_img thumbnail" ng-src="/app/images/icons/P_Movie.svg.png" />
                                
                                </a>
                            </div>
						</div>
                        <hr/>

                <div class="caption" >
                    <A href="/static/{{asset.url}}"><button id="collectionAddButton" class="btn btn-default btn-sm" type="button">
                            <em class="glyphicon glyphicon-download"></em>
                        </button></a>
                    <em style="list-style:none;word-wrap: break-word">{{asset.content_type.split('/')[1].split(';')[0].slice(0, 15) | uppercase}}</em>

                    <ul>
                        <li style="list-style:none;word-wrap: break-word"><strong>{{asset.fullname}}</strong>
                        </li>
                        <hr/>
                        <li style="list-style:none;"><Small><b>{{$parent.prettyDate(asset.modified_on)}}</b> ago</small></li>
                        <li ng-if="asset.owner" style="list-style:none;"> <a href="#/user/{{asset.owner.id}}" 
                            style="font-size:9pt;color:grey">{{asset.owner.firstname}} {{asset.owner.lastname}}</a></li> 
                        <li ng-if="!asset.owner" style="list-style:none;"> <a style="font-size:9pt;color:grey">Anonymous</a></li> 
                    </ul>
                </div>
            </div>
            <div style="background:#f8f8f8;padding:10px" class="thumbnail">
                    <h4>Asset Versions</h4>
                    
                <div style="margin:10px;background:#fff;padding:10px">
                    <button ng-click="checkout(version)" class="btn btn-sm btn-default"
                        ng-class="{'btn-success':asset.version==version.split('v_')[1],
                        'btn-warning':checkout_load==version, 'btn-primary':checkouted==version}"
                        ng-repeat="version in assetVersions | orderBy:name">{{version.split('v_')[1]}}</button>
                </div>
                    <a><button ng-click="checkout(checkouted, true)" 
                            class="btn btn-primary">Download Version {{checkouted.split('v_')[1]}}</button></a>
                </div>


                <hr/>

             <div >

           </div>

            <div ng-controller="taggerCtrl" class="well">
                <input type="search" id="tagSearchInput"  class="typeahead form-control" 
                options="tagOptions" datasets="completeData" placeholder="Tag this asset"
                ng-model="tags.userTagFilter" ng-keyup="$event.keyCode == 13 ? addTag('asset', $parent.asset) : null" sf-typeahead>
					<div class="">
                        <br/>
                        <ul class="nav nav-pills nav-stacked" style="margin-left: -15px;">
                            <li class="" ng-repeat="tag in $parent.asset.tgs track by $index">
                            <a  ng-class="{'text-success':tag.name=='confirmed'}" style="word-break: break-all;padding:2px" href="#/grid/{{tag.name}}/1"><em class="fa fa-tag">
				<em ng-show="tag.name=='grid'" class="fa fa-slack"></em></em> <em ng-show="tag.name!='confirmed'" 
                                   style="cursor:pointer"
				    ng-click="$parent.asset.tgs.splice($index, 1);addTag('asset', $parent.asset)" 
                                    class="pull-right fa fa-remove"> </em>{{tag.name}}</a>
                            </li>
                        </ul>

					</div>
                </div>
            </div>


            <div class="col-md-9" ng-if="asset">
                <h4><a href="/static/{{asset.url}}">{{asset.fullname}}</a> <Small>version {{asset.version}}</small>
                    <small>[{{$parent.getReadableFileSizeString(asset.content_size)}}]</small>

                
                </h4>
                <div ng-if="asset.preview && asset.content_type.split('/')[0]=='video'">
                    <video id="video_{{asset.id}}" class="video-js vjs-default-skin thumbnail" controls 
                    preload="metadata" ng-attr-poster="{{'/static/'+asset.poster}}" width="600" height="400" >
                    <source 
                   data-setup='{"techOrder": ["flash", "html5", "links"]}'
                    ng-src="{{'/static/'+asset.preview}}" type="video/mp4" /></video>
                    <a title="Right click, Save link as" href="{{'/static/'+asset.preview}}"><em class="fa fa-file-video-o"></em> Download this Preview</a>
                </div>



                <div ng-if="asset.poster && asset.content_type.split('/')[0]=='image'">
                    <img ng-src="{{'/static/'+asset.poster}}" style="margin:auto;width:100%" class="thumbnail"/>
                </div>
                <div style="padding:15px;" class="col-md-12" ng-if="asset.thumbnail && assetVersions.length>1">
                    <div class="col-sm-2" ng-repeat="v in range(0, assetVersions.length)">
                        <img class="thumbnail" ng-click="checkout('v_'+v)" ng-class="{'iconized':checkouted=='v_'+v}"
                        style="cursor:pointer;width:130px;opacity:0.75" ng-src="{{'/static/uploads/'+asset.uuid+'_thmb_'+v+'.png'}}" />
                    </div>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='x-python; charset=utf-8' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-py">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='css; charset=utf-8' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-css">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='javascript' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-js">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='x-markdown; charset=utf-8' 
                    && asset.content_size<1024*64" ng-init="loadAssetData()">

                    <button class="btn btn-primary" ng-show="!editMode"  ng-click="editAssetContents()">Edit This Document</button>
                    <button class="btn btn-warning" ng-show="editMode" ng-click="updateAssetContents()">Save Changes</button>
                    <div ng-show="editMode">
                        <br/>
                        <textarea style="height:250px;" class="form-control" ng-model="asset.data"></textarea>
                    </div>

                    <div ng-if="asset.data" 
                        style="border:1px solid #f2f2f2;padding:5px;margin-top:10px;word-break: break-word" 
                        ng-bind-html="marked(asset.data)"></div>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='plain; charset=utf-8' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-text">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='x-csrc; charset=utf-8' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-c">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='x-chdr; charset=utf-8' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-h">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='x-c++src; charset=utf-8' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-cpp">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='json' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-js">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='x-shellscript' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-bash">{{asset.data}}</code></pre>
                </div>
                <div ng-if="asset.content_type.split('/')[1]=='html; charset=utf-8' && asset.content_size<1024*16" ng-init="loadAssetData()">
                    <pre><code class="lang-html">{{asset.data}}</code></pre>
                </div>


                <div style="width:100%;height:100%" ng-if="asset.content_type.split('/')[1]=='pdf'" ng-init="loadAssetData()">
                    <iframe class="col-md-12" height="600" src="{{'/static/'+asset.url}}" seamless="seamless"></iframe>
                </div>




                <!-- 
                <select
                    ng-options="asset for asset in asset.tags"
                    
                    id="assetTags" multiple ng-init="setTags()">

                    </select>
                !-->


            </div>





	    </div>
	    </div>

    <hr/>
	<div class="container">

	<div class="col-md-12">

	<div class="col-md-6">
    <div style="width:100%" ng-include="'pages/comment/index.html'"></div>
	</div>
	<div class="col-md-6">
            <p>
            <textarea class="form-control" style="height:220px;font-size:16px;" 
		ng-model="asset.description" ng-blur="updateAssetDescription()"
                placeholder="Asset Desciption ..."></textarea>
            </p>
	</div> 

</div>
</div>
</div>

