<div class="container" ng-if="$parent.comment_id" id="comment_area">
    <div class="raw">
    <div class="col-lg-5 col-md-5 col-sm-5 text-center" ng-init="$parent.getComments()">
    <div class="well">
        <span class="pull-left badge badge-info">{{$parent.numberOfComments[$parent.comment_id]}}</span>
        <h4>Comments <small>about this page</small></h4>
    <div class="input-group">
	<div style="margin:auto;width:90%;;">
        <textarea style="border:none;min-height:100px;" type="text" id="userComment" class="form-control input-sm chat-input"
        ng-model="$parent.newComment.content" placeholder="Write your comment here..." /></textarea>
	</div>
	    <span class="input-group-btn" ng-click="$parent.addComment()">     
            <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
        </span>
    </div>
    <hr data-brackets-id="">
    <ul data-brackets-id="" id="sortable" class="list-unstyled ui-sortable">
        <div ng-repeat="comment in $parent.comments[$parent.comment_id] track by $index">
            <a ng-if="$parent.userInfo.userid != comment.user_id "
                href="#user/{{comment.user_id}}" 
                class="pull-left primary-font">{{$parent.members[comment.user_id].firstname}} {{$parent.members[comment.user_id].lastname}}</a>
            <strong ng-if="$parent.userInfo.userid == comment.user_id " 
                class="pull-left primary-font text-info">Me</strong>



        <small class="pull-right text-muted">
            <span class="glyphicon glyphicon-time"></span> 
            {{$parent.prettyDate(comment.modified_on)}} ago
        </small>

        </br>
        <li class="ui-state-default" style="padding:0px;"
        ng-class="{'farsi':!$parent.isASCII(comment.content)}"><p class="commentText">{{comment.content}}</p></li>
        </br>
        <div>
    </ul>
    <a style="cursor:pointer" 
        ng-click="$parent.getComments($parent.comments[$parent.comment_id].length, 
                    $parent.comments[$parent.comment_id].length+10, true)"
        ng-show="$parent.numberOfComments[$parent.comment_id]>10">Load more</a>
    </div>
</div>
</div>

<script>

function isASCII(str, extended) {
    return (extended ? /^[\x00-\xFF]*$/ : /^[\x00-\x7F]*$/).test(str);
}

    $('textarea').keyup(function(){
        if (!isASCII(this.value))
            $(this).addClass('farsi');
        else
            $(this).removeClass('farsi');
    })

</script>
