  <div class="container" >
      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Studio Mail&reg;</h3>
  
        <div class="" ng-controller="inboxCtrl" ng-init="init(true)">
        <aside class="col-md-2 pad-right-0">
            <ul class="nav nav-pills nav-stacked hidden-print">
                <li class="hidden-sm hidden-xs">
                <button class=" btn btn-success" style="width:100%" title="Compose New Message" ng-click="forwardMode=false;replyMode=false;newMessage={};" data-toggle="modal" data-target="#modalCompose">
                      <span class="glyphicon glyphicon-edit"> Compose</span>
                  </button>  
                  </li>
                <br/>
                <li class="hidden-sm hidden-xs" ng-class="{'active':messages.folder=='inbox'}">
                <a href="#/messages?folder=inbox" 
                    ng-click="groupToPages()"><em class="fa fa-inbox"></em> <span ng-show="messages.folder=='inbox'" class="badge pull-right">{{unreadCount}}</span> Inbox </a>
                </li>
                <li class="hidden-sm hidden-xs" ng-class="{'active':messages.folder=='archive'}">
                    <a href="#/messages?folder=archive"><em class="fa fa-archive"></em> <span ng-show="messages.folder=='archive'" class="badge pull-right">{{unreadCount}}</span>Archived</a>
                </li>
                <li class="hidden-sm hidden-xs" ng-class="{'active':messages.folder=='star'}">
                    <a href="#/messages?folder=star"><em class="fa fa-star"></em> <span ng-show="messages.folder=='star'" class="badge pull-right">{{unreadCount}}</span>Important</a>
                </li>
                <li class="hidden-sm hidden-xs" ng-class="{'active':messages.folder=='sent'}">
                    <a href="#/messages?folder=sent"><em class="fa fa-send"></em> <span ng-show="messages.folder=='sent'" class="badge pull-right">{{unreadCount}}</span>Sent</a>
                </li>
                <li class="hidden-sm hidden-xs" ng-class="{'active':messages.folder=='draft'}">
                    <a href="#/messages?folder=draft"><em class="fa fa-edit"></em> <span ng-show="messages.folder=='draft'" class="badge pull-right">{{unreadCount}}</span>Drafts</a>
                </li>
                <li class="hidden-sm hidden-xs" ng-class="{'active':messages.folder=='spam'}">
                    <a href="#/messages?folder=spam"><em class="fa fa-inbox"></em> <span ng-show="messages.folder=='spam'" class="badge pull-right">{{unreadCount}}</span>Spam</a>
                </li>
                <li class="hidden-sm hidden-xs" ng-class="{'active':messages.folder=='trash'}">
                    <a href="#/messages?folder=trash"><em class="fa fa-trash"></em> <span ng-show="messages.folder=='trash'" class="badge pull-right">{{unreadCount}}</span>Trash</a>
                </li>
            </ul>
            <hr>

            <ul class="nav nav-pills nav-stacked">

            </ul>
        </aside>
        <div class="col-md-10">
            <!--inbox toolbar-->
            <div class="row" >
                <div class="col-xs-12 hidden-print">

                <button class="hidden-lg hidden-md btn btn-success" title="Compose New Message" ng-click="forwardMode=false;replyMode=false;newMessage={};" data-toggle="modal" data-target="#modalCompose">
                      <span class="glyphicon glyphicon-edit"></span>
                  </button>  
                    <a class="btn btn-default" data-toggle="tooltip" title="Refresh" id="refreshInbox" ng-click="init(true)" ng-show="!isMessageSelected()">
                      <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                    <div class="hidden-md hidden-lg btn-group" ng-show="!isMessageSelected()">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Folders <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" >
                <li ng-class="{'active':messages.folder=='inbox'}">
                <a href="#/messages?folder=inbox" 
                    ng-click="groupToPages()"><em class="fa fa-inbox"></em> <span ng-show="messages.folder=='inbox'" class="badge pull-right">{{messages.items.length}}</span> Inbox </a>
                </li>
                <li ng-class="{'active':messages.folder=='archive'}">
                    <a href="#/messages?folder=archive"><em class="fa fa-archive"></em> <span ng-show="messages.folder=='archive'" class="badge pull-right">{{messages.items.length}}</span>Archived</a>
                </li>
                <li ng-class="{'active':messages.folder=='star'}">
                    <a href="#/messages?folder=star"><em class="fa fa-star"></em> <span ng-show="messages.folder=='star'" class="badge pull-right">{{messages.items.length}}</span>Important</a>
                </li>
                <li ng-class="{'active':messages.folder=='sent'}">
                    <a href="#/messages?folder=sent"><em class="fa fa-send"></em> <span ng-show="messages.folder=='sent'" class="badge pull-right">{{messages.items.length}}</span>Sent</a>
                </li>
                <li ng-class="{'active':messages.folder=='draft'}">
                    <a href="#/messages?folder=draft"><em class="fa fa-edit"></em> <span ng-show="messages.folder=='draft'" class="badge pull-right">{{messages.items.length}}</span>Drafts</a>
                </li>
                <li ng-class="{'active':messages.folder=='spam'}">
                    <a href="#/messages?folder=spam"><em class="fa fa-inbox"></em> <span ng-show="messages.folder=='spam'" class="badge pull-right">{{messages.items.length}}</span>Spam</a>
                </li>
                <li ng-class="{'active':messages.folder=='trash'}">
                    <a href="#/messages?folder=trash"><em class="fa fa-trash"></em> <span ng-show="messages.folder=='trash'" class="badge pull-right">{{messages.items.length}}</span>Trash</a>
                </li>
                        </ul>
                    </div>
                    <div class="btn-group hidden-print" ng-show="!isMessageSelected()">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            More <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="javascript:;" ng-click="readAll()">Mark all as read</a></li>
                            <li class="divider"></li>
                            <li><a href="" data-toggle="modal" ng-click="replyMode=false;newMessage={};" data-target="#modalCompose">Compose new</a></li>
                            <li><a href="javascript:;" class="text-muted">Settings</a></li>
                        </ul>
			
                    </div>
		   <div style="padding-right:20px;float:left" class="col-md-6" ng-show="!isMessageSelected()">
			<input  class="form-control" ng-model="options.search" placeholder="Search your messages ..."/>
		</div>

                    <div class="pull-right" ng-show="!isMessageSelected()">
                        <span class="text-muted"><b>{{(itemsPerPage * currentPage) + 1}}</b>–<b>{{(itemsPerPage * currentPage) + pagedItems[currentPage].length}}</b> 
                            of <b>{{messages.items.length}}</b></span>
                        <div class="btn-group btn-group">
                            <button type="button" class="btn btn-default btn-sm" ng-class="{disabled: currentPage == 0}" ng-click="prevPage()">
                                <em class="glyphicon glyphicon-chevron-left"></em>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-class="{disabled: currentPage == pagedItems.length - 1}" ng-click="nextPage()">
                                <em class="glyphicon glyphicon-chevron-right"></em>
                            </button>
                        </div>
                    </div>
                </div><!--/col-->
                <div class="col-xs-12 spacer5"></div>
            </div><!--/row-->
            <!--/inbox toolbar-->
            <br/>
            <div class="panel panel-info inbox" id="inboxPanel" style="min-height: 300px;">
                <!--message list-->
                <div ng-show="!isMessageSelected()">
                    <table class="table table-striped table-hover refresh-container pull-down" ng-show="messages.items.length">
                        <thead class="hidden-xs">
                            <tr><td class="col-sm-1"><input type="checkbox" title="Mark all"></td>
                            <td class="col-sm-4"><a href="javascript:;"><strong>Subject</strong></a></td>
                            <td class="col-sm-2"><a href="javascript:;"><strong>From</strong></a></td>
                            <td class="col-sm-3"><a href="javascript:;"><strong>Date</strong></a></td>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-1"></td>
                        </tr></thead>
                        
                          <tbody><tr ng-repeat="item in pagedItems[currentPage] | filter: options.search track by $index ">
                            <td class="col-sm-1 col-xs-1"><input type="checkbox" title="Mark this item here"></td>
                            <td class="col-sm-4 col-xs-8" ng-click="readMessage(item)">
                                <a style="color:#333;cursor:pointer" ng-class="{'strong': !item.read}">{{item.subject_s.slice(0, 20) || 'DRAFT'}}</a>
                                <small style="color:grey">{{item.body_s.slice(0, 20-item.subject.length)}} ...</small>
                            </td>
                            <td class="col-sm-1 col-xs-1" ng-click="readMessage(item)">
                                <a style="color:#555" href="#/user/{{item.from_s.id}}" ng-class="{'strong': !item.read}">{{item.from_s.firstname_s}} {{item.from_s.lastname_s}}</a></td>
                            <td class="col-sm-1 col-xs-1" ng-click="readMessage(item)"><span style="color:#555" ng-class="{'strong': !item.read}">{{$parent.prettyDate(item.datetime)}} ago</span></td>
                            <td class="col-sm-4 col-xs-4">
                                <a ng-show="messages.folder!='archive'" ng-click="moveItem(item, 'archive')" title="unStar item" href="javascript:;"><i class="fa fa-archive"></i></a>
                                <a ng-show="!item.flagged" title="Mark item" href="javascript:;" ng-click="item.flagged=true;updateMessage(item);"><i class="fa fa-flag-o"></i></a>
                                <a ng-show="item.flagged" title="Mark item" href="javascript:;" ng-click="item.flagged=flase;updateMessage(item);"><i class="fa fa-flag"></i></a>
                                <a ng-show="messages.folder!='star'" ng-click="moveItem(item, 'star')" title="Star item" href="javascript:;"><i class="fa fa-star-o"></i></a>
                                <a ng-show="messages.folder=='star'" ng-click="moveItem(item, 'archive')" title="unStar item" href="javascript:;"><i class="fa fa-star"></i></a>
                                <a ng-class="{strong: !item.read, 'fa fa-trash-o':messages.folder!='trash', 'fa fa-inbox':messages.folder=='trash'}" 
                                    ng-click="moveItem(item)" title="Delete item" href="javascript:;"><i ></i></a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
               <div style="padding-bottom: 80px; padding-top: 80px;" ng-show="!messages.items.length && options.is_loading==false">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" ><h4>No messages here</h4></div>
                    <div class="col-md-4"></div>
                </div>



                  <div style="padding-bottom: 80px; padding-top: 80px;" ng-show="options.is_loading==true">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" ><h4 class="text-primary"><i class="fa fa-circle-o-notch fa-spin fa-5x"></i>  Loading your inbox ...</h4></div>
                    <div class="col-md-4"></div>
   
                </div>
                </div>
                <!--message detail-->
                <div class="container-fluid" ng-show="isMessageSelected()">
                    <div class="row" >
                        <div class="col-xs-12">
                            <h3 style="word-break: break-word;"  title="subject"><button type="button" class="close pull-right" ng-click="closeMessage()" aria-hidden="true">×</button>
                                <a href="#/messages?folder={{messages.folder}}" ng-click="groupToPages()">{{messages.folder}}</a> &gt; {{selected.subject_s}}</h3>
                        </div>
                        <div class="col-md-8">
                            <blockquote class="bg-info small">
                                <div ng-show="selected.to_s.id!=selected.from_s.id">
                                    From: <strong>{{selected.from_s.firstname_s}} {{selected.from_s.lastname_s}}</strong> about {{$parent.prettyDate(selected.datetime)}} ago <br/>
                                    To: <strong>{{selected.to_s.firstname_s}} {{selected.to_s.lastname_s}}</strong>
                                </div>
                                <div ng-show="selected.to_s.id==selected.from_s.id">
                                    <strong>Note to self</strong> by <strong>{{selected.from_s.firstname_s}} {{selected.from_s.lastname_s}}</strong> about {{$parent.prettyDate(selected.datetime)}} ago
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-md-4 hidden-print">
                			<div class="btn-group btn-group pull-right">
                                <button class="btn btn-default" title="Reply to this message" ng-click="forwardMode=false;replyMode=true" data-toggle="modal" data-target="#modalCompose">
                					<i class="fa fa-reply"></i> Reply
                				</button>
                				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="More options">
                					<i class="fa fa-angle-down"></i>
                				</button>
                				<ul class="dropdown-menu pull-right">
                                    <li><a style="cursor:pointer" ng-click="replyMode=false;forwardMode=true" data-toggle="modal" data-target="#modalCompose"><i class="fa fa-mail-forward"></i> Forward</a></li>
                					<li><a onclick="window.print();" style="cursor:pointer"><i class="fa fa-print"></i> Print</a></li>
                					<li class="divider"></li>
                					<li><a ng-click="moveItem(selected, 'spam')"><i class="fa fa-ban"></i> This is Spam</a></li>
                					<li><a ng-click="moveItem(selected, 'trash')"><i class="fa fa-trash-o"></i> Send to Trash</a></li>
                				</ul>
                			</div>
                			<div class="spacer5 pull-right"></div>
                			<button class="btn btn btn-default pull-right" ng-click="moveItem(selected)" title="" data-toggle="tooltip">
                                <i ng-class="{'fa fa-trash-o fa-1x':messages.folder!='trash', 'fa fa-inbox fa-1x':messages.folder=='trash'}"></i>
            				</button>
                		</div>
                		<div class="col-xs-12"><hr></div>
                        <div class="col-xs-12">
                            <!--message body-->
                            <div ng-class="{'farsi':!$parent.isASCII(selected.body_s, true)}"  ng-bind-html="renderMessageBody(selected.body_s)"></div>
                            <!--/message body-->
                        </div>
                        <div class="col-xs-12 clearfix"><hr></div>
                        <div class="col-xs-12">
                            <a href="javascript:;" title="Download attachment" ng-show="selected.attachment"><span class="glyphicon glyphicon-paperclip"></span></a>
                        </div>
                    </div><!--/row-->
                </div>
            </div><!--/inbox panel-->
            <div class="well well-s text-right hidden-print"><em>Inbox last updated: <span id="lastUpdated">{{date | date:'MM-dd-yyyy HH:mm:ss'}}</span></em></div>
        </div><!--/col-9-->
        <!-- /.modal compose message -->
        <div class="modal fade" id="modalCompose">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 ng-if="!replyMode && !forwardMode" class="modal-title">Compose Message</h4>
                <h4 ng-if="replyMode && !forwardMode" class="modal-title">Reply Message</h4>
                <h4 ng-if="!replyMode && forwardMode" class="modal-title">Forward Message</h4>
              </div>
              <div class="modal-body">
                  <form role="form" class="form-horizontal">

                <div class="form-group" ng-if="!replyMode || forwardMode">
                     <label class="col-sm-2 control-label">TO</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="newMessage.to" 
                            ng-options="resource.fullname for resource in resources track by resource.id">
                        </select>
                     </div>
                </div>


                <div class="form-group" ng-if="replyMode && !forwardMode" ng-init="newMessage.to = selected.from_s">
                     <label class="col-sm-2 control-label">TO</label>
                    <div class="col-sm-10">
                        <input type="text" disabled="true" class="form-control" value="{{newMessage.to.firstname_s}} {{newMessage.to.lastname_s}}" />
                     </div>
                </div>

                    <div class="form-group" ng-if="!replyMode && !forwardMode">
                      <label class="col-sm-2  control-label" >Subject</label>
                      <div class="col-sm-10"><input type="text" ng-model="newMessage.subject" class="form-control" id="inputSubject" placeholder="subject"></div>
                    </div>
                    <div class="form-group" ng-if="replyMode && !forwardMode" ng-init="newMessage.subject = 'RE: '+ selected.subject_s">
                      <label class="col-sm-2  control-label" >Subject</label>
                      <div class="col-sm-10"><input type="text" disabled="true" value="{{newMessage.subject}}" class="form-control" id="inputSubject"></div>
                    </div>

                    <div class="form-group" ng-if="!forwardMode" >
                      <label class="col-sm-12" for="inputBody">Message</label>
                      <div class="col-sm-12"><textarea class="form-control" ng-class="{'farsi':!$parent.isASCII(newMessage.body, true)}" id="inputBody" ng-model="newMessage.body" rows="12" autofocus></textarea></div>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button> 
                <button type="button" class="btn btn-warning pull-left">Save Draft</button>
                <button ng-click="sendMessage()" ng-show="newMessage.body || (newMessage.to && forwardMode)" type="button" class="btn btn-primary ">Send <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal compose message -->
    <div><!--/row ng-controller-->
      
  	</div><!--/container-->
