<div class="jumbotron" style="
    background: url(images/home-bg.jpg);
    background-position: 6px -223px; color: #fff;
    margin-top: -34px;
    ">
      <div ng-cloak class="container">
          <h1>FEAR:LESS</h1>
          <p>{{message}}</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="#about">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="col-md-2 column">

			<ul class="nav nav-pills nav-stacked">
                            <li ng-class="{'active':unreadCount>0}" style="margin:5px;width:100%" ng-controller="inboxCtrl" ng-init="init(true)">
                            <a href="#/messages?master=true"><em class="fa fa-envelope-o"></em> <span ng-show="unreadCount>0" class="badge pull-right">{{unreadCount}}</span>Inbox</a>

                        </li>
				<li class="" style="margin:5px;width:100%">
					 <a href="#/grid/grid/1"><em class="fa fa-slack"></em> Grid</a>
					 <a href="#/grid/image/1"><em class="fa fa-image"></em> Images</a>
					 <a href="#/grid/video/1"><em class="fa fa-film"></em> videos</a>
                                         </li>
			</ul>

            <hr/>
		</div>
		<div class="col-md-5 column" ng-init="getUserTasks()">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">
                        Ongoing Tasks
					</h3>
				</div>
				<div class="panel-body" ng-if="user.tasksForToday" style="padding:0px">
                    <table class="table table-responsive table table-bordered table-striped table-hover refresh-container pull-down" style="margin-bottom:0px">
                        <tr class="success">
                            <td></td>
                            <td>Task</td>
                            <td>Project</td>
                    </tr>
                    <tr ng-repeat="t in user.tasksForToday track by $index">
                        <td>{{$index+1}}</td>
                        <td> <a href="#/pms/t/{{t.id}}">{{t.title}}</a> </td>
                        <td> <a href="#/pms/{{t.project.id}}">{{t.project.name}}</a> </td>

                </tr>
            </table>
				</div>
                <div class="panel-body" ng-if="user.tasksForToday.length<1 && user.unfinishedTasks.length<1">
                    <em class="glyphicon glyphicon-cutlery btn btn-sm btn-primary"></em>
                    You do not have any schedule tasks for right now!
                </div>
                <div class="panel-body" ng-if="user.tasksForToday.length<1 && user.unfinishedTasks.length>0">
                    <em class="glyphicon glyphicon-exclamation-sign btn btn-sm btn-warning"></em>
                    You have unfinished tasks!
                </div>
				<div class="panel-footer">
                    <small ng-if="user.tasksForToday.length>0 && user.unfinishedTasks.length<1"
                        style="color:grey">These are the task you work on them</small>
                    <small ng-if="user.tasksForToday.length>0 && user.unfinishedTasks.length>0"
                        style="color:darkorange">You have tasks you need to start doing today but also <b>unfinished tasks</b></small>
                    <small ng-if="user.tasksForToday.length<1 && user.unfinishedTasks.length<1"
                        style="color:green">Well, You are free for now!</small>
                    <small ng-if="user.tasksForToday.length<1 && user.unfinishedTasks.length>0"
                        style="color:darkorange">Well, You have unfinish jobs!</small>
				</div>
			</div>
		</div>

		<div class="col-md-5 column" ng-init="getUnfinishedTasks()">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">
                        Unfinished Tasks
					</h3>
				</div>
				<div class="panel-body" ng-if="user.unfinishedTasks" style="padding:0px">
                    <table class="table table-responsive table table-bordered table-striped table-hover refresh-container pull-down" style="margin-bottom:0px">
                        <tr class="warning">
                            <td></td>
                            <td>Task</td>
                            <td>Project</td>
                    </tr>
                    <tr ng-repeat="t in user.unfinishedTasks track by $index">
                        <td>{{$index+1}}</td>
                        <td> <a href="#/pms/t/{{t.id}}">{{t.title}}</a> </td>
                        <td> <a href="#/pms/{{t.project.id}}">{{t.project.name}}</a> </td>

                </tr>
            </table>
				</div>
                <div class="panel-body" ng-if="user.unfinishedTasks.length<1">
                    <em class="glyphicon glyphicon-ok btn btn-sm btn-success"></em>
                    Congrats! You haven't missed any tasks yet!
                </div>
				<div class="panel-footer">
                    <small ng-if="user.unfinishedTasks.length>0" style="color:darkorange">These are your unfinished tasks.  Finish them ASAP</small>
                    <small ng-if="user.unfinishedTasks.length<1" style="color:grey">Well, You are on time!</small>
				</div>
			</div>
		</div>



      <div class="class="col-md-12 column">
        <div class="col-md-4"> </div>
        <div class="col-md-4"> </div>
        <div class="col-md-4"> </div>
      </div>
