<style>

    #printable { display: none; }

    @media print
    {
    	#non-printable { display: none; }
    	#printable { display: block; }
    }


table {
    border-collapse: 0px;
    border-spacing: 0;
}
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

.tj_table_frame {
    line-height: 1;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    background-color: rgba(56, 129, 192, 0.28);
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    /* box-shadow: 1px 1px 17px #000D1A; */
    /* border: 1px solid #A8A8A8; */
    border-radius: 5px;
    padding: 3px;
    display:none;
    border-spacing: 0px;
    /* text-rendering: geometricPrecision; */
    /* text-shadow: 1px 1px 3px #ccc; */
    text-color: #fff;
}
.taskbarframe {
    background-color: #000000;
    position: absolute;
    box-shadow: 0px 0px 28px #8FB4C7;
}

.offduty {
    background-color: rgba(214, 235, 246, 1);
    white-space: nowrap;
    position: absolute;
}
.taskbar {
    background-color: #36B0D5;
    position: absolute;
}
.tabhead {
    white-space: nowrap;
    background-color: #57BEDD;
    color: #FFFFFF;
    text-align: center;
}
.progressbar {
    background-color: #00A942;
    position: absolute;
}
.tj_table_header_cell {
    padding: 1px 5px 1px 3px;
    white-space: nowrap;
    border-spacing: 0px;
    color: #000000;
    overflow: hidden;
}
.free {
background-color: #D7FFA5;
position: absolute;
}

.tj_table {
background-color: rgba(87, 190, 221, 1);
margin: 0px;
border-spacing: 1px;
}
.busy {
    background-color: #C399FF;
    position: absolute;
}
.caltask1 {
background-color: #FFEDA5;
}

.pmsmaindiv{
    -webkit-font-smoothing: antialiased;
}
.resourcecell1 {
    background-color: #DFF0D8;
    white-space: nowrap;
    padding: 0px;
}

.resourcecell2 {
    background-color: #DFF0D8;
    white-space: nowrap;
    padding: 0px;
}
.taskcell1 {
    background-color: #FFFFFF;
    white-space: nowrap;
    padding: 0px;
    }
.taskcell2 {
    background-color: #f8f8f8;
    white-space: nowrap;
    padding: 0px;
}
.tj_table_cell_label{
    color:#333;
    font-family:arial;
}
.tabhead .tj_table_cell_label{
    color:white;
}
</style>

<div class="container pmsmaindiv">

	<div ng-cloak>
			<ul class="breadcrumb">
				<li>
					<a href="#/pms">Projects</a> <span class="divider"></span>
				</li>
				<li class="active">
				    {{project.name}}
				</li>
			</ul>
    </div>


    <!--     Project edit MODAL       --!>

    <div class="modal fade" id="projectEditModal" ng-include="'pages/pms/projectEditModalTemplate.html'" 
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <!--     SEQUENCE MODAL       --!>
    <div class="modal fade" id="taskSeqModal" role="dialog" ng-include="'pages/pms/taskSeqModalTemplate.html'" 
        aria-labelledby="AddNewSequences" aria-hidden="true"></div>



    <!--     Task Add modal       --!>
    <div class="modal fade" id="taskAddModal" ng-include="'pages/pms/taskAddModalTemplate.html'" 
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>




    <!--     Task edit modal       --!>
    <div class="modal fade" id="taskDetailModal" ng-include="'pages/pms/taskDetailModalTemplate.html'" 
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>



<div class="col-md-12 column">
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-size:48pt;">
            {{project.name | uppercase}}
            <button ng-show="$parent.isAdmin || $parent.userInfo.userid==project.leader.id || $parent.userInfo.userid==project.creater.id" 
                id="editProjectButton" ng-click="updateProjectModalPrepare()" class="btn btn-default btn-sm" type="button"><em class="glyphicon glyphicon-pencil"></em> Edit</button>
        </h3>
    </div>

     <div class="panel-body" style="background: #FAFAFA;">
         <div class="col-md-4" id="projectDescription">
             <div class="col-md-12">
            <p>
            <em>{{project.description || 'Project has no description'}}</em>
            </p>
            </div>
            <div class="col-md-12" style="border-top: 1px solid #F0F0F0;" ng-show="tasks.length>0">
            <h3 style="color:grey"><em class="fa fa-pie-chart "></em> Progress</h3>
                <div id="progress_chart_div"></div>		
                <div id="div_g"></div>
            </div>

		</div>
		<div class="col-md-8" style="border-left: 1px solid #ECECEC;">
            <br/>
            <table class="table table-bordered table-responsive">
            <tr class="active">
                <td >Name</td>
                <td >Progress</td>
                <td class="hidden-sm hidden-xs">Start</td>
                <td class="hidden-sm hidden-xs">End</td>
                <td >Effort Left</td>
                <td class="hidden-xs">Project Leader</td>
            </tr>
            <tr class="info">
                <td class="active"><strong>{{project.name}}</strong></td>
                <td ><strong>{{project.complete}}</strong>%</td>
                <td class="farsi hidden-sm hidden-xs" >{{$parent.persianDate(project.start)}}</td>
                <td class="farsi hidden-sm hidden-xs" >{{$parent.persianDate(project.end)}}</td>
                <td >{{project.effort_left}} hours</td>
                <td class="hidden-xs" ><a href="#/user/{{project.leader.id}}">{{project.leader.fullname}}</a></td>
            </tr>
        </table>

        <div class="col-md-12" ng-show="tasks.length>0">
            <h3 style="color:grey"><em class="fa  fa-line-chart"></em> Timeline</h3>
            <div id="burndown_chart_div" style="height: 300px;background: #F5F5F5; border: 1px solid #ccc; border-radius: 5px;"></div>
		</div>
		</div>


    </div>
				<div class="panel-footer">
                    <div ng-if="project.watchers.length>0">
            This project is under supervision of 
            <span ng-repeat="watcher in project.watchers track by $index">
                <a href="#user/{{watcher.id}}">{{watcher.firstname}} {{watcher.lastname}}</a>
                <em ng-show="$index+2 != project.watchers.length && $index+1 != project.watchers.length">,</em>
                <em ng-show="$index+2 == project.watchers.length">and</em>
            </span>
            </div>
            </div>

    </div>
<hr/>
    </div>



<div class="col-md-12 column">
<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title">
            Collections
	<!--
            <button id="taskSeqButton" ng-show="$parent.isAdmin || $parent.userInfo.userid==project.leader.id || $parent.userInfo.userid==project.creater.id"
            class="btn btn-default btn-sm" type="button"><em class="glyphicon glyphicon-plus"></em> Add SEQUENCES</button>
	-->
        </h3>
    </div>

     <div class="panel-body" style="background: #F9F5FF;">
        <div class="col-md-12 column">
                <div class="col-md-8 column" style="border-right: 1px solid #ccc;">
                        <div id="CollectionsDiv" >

			<ul class="nav nav-pills">
                            <li class="active" ng-repeat="collection in project.collections track by $index"
                                style="" ng-controller="inboxCtrl" ng-init="init()">
                                <a href="#/ams/c/{{collection.id}}?page=1"><em class="fa fa-folder"></em> <span ng-show="collection.number_of_children" 
                                        class="badge pull-right">{{collection.number_of_children}}</span><h5>{{collection.name}}</h5></a>
                            </li>

			</ul>

                        </div>
                </div>
	<!--
                <div class="col-md-7 column" style="border-right: 1px solid #ccc;">
                    <h3 style="color:grey">Sequences</h3>
                    <a class="projectSeqA" href="#pms/{{project.id}}/seq/{{seq.number}}" ng-repeat="seq in project.sequences track by $index" title="{{req.code}}">{{seq.number}}</a>
                    </div>
	-->
                    <div class="col-md-4 column">

            <div ng-controller="taggerCtrl" class="">
                <input type="search" id="tagSearchInput"  class="typeahead form-control" 
                options="tagOptions" datasets="completeData" placeholder="Tag this project"
                ng-model="tags.userTagFilter" ng-keyup="$event.keyCode == 13 ? addTag('project', $parent.project) : null" sf-typeahead>
					<div class="">
                        <br/>
                        <ul class="nav nav-pills nav-stacked" style="margin-left: -15px;">
                            <li class="" ng-repeat="tag in $parent.project.tgs track by $index">
                            <a style="word-break: break-all;padding:2px"><em class="fa fa-tag"></em> <span ng-show="true" 
                                    style="cursor:pointer" ng-click="$parent.project.tgs.splice($index, 1);addTag('project', $parent.project)" 
                                    class="pull-right fa fa-remove"> </span>{{tag.name}}</a>
                            </li>
                        </ul>

					</div>
                </div>
            </div>





        </div>
</div>
</div>
<hr/>
</div>



<div class="col-md-12 column">
<div class="panel panel-default" ng-class="{'panel-danger':planning}">
    <div class="panel-heading">
			<div class="btn-group">
                <button ng-show="$parent.isAdmin || $parent.userInfo.userid==project.leader.id || $parent.userInfo.userid==project.creater.id" 
                    id="taskAddButton" class="btn btn-success" type="button"><em class="glyphicon glyphicon-plus"></em> Add TASK</button>
            </div>
            
            <div class="btn-group hidden-sm hidden-xs">
                <button ng-show="tasks.length>0 && !planning" class="btn btn-info" 
                    ng-class="{'active':mode=='cal', 'btn-success':mode=='cal'}" 
                    ng-class="{'active':mode=='cal'}" ng-click="showCal();prepareCal();" 
                    type="button"><em class="glyphicon glyphicon-calendar"></em> Calendar</button>
                    <a ng-show="tasks.length>0 && !planning" class="btn btn-info" 
                        ng-class="{'active':mode=='plan', 'btn-success':mode=='plan'}" 
                    ng-class="{'active':mode=='plan'}" 
                    data-gallery="plan_graphics" href="/static/uploads/plan_{{project.uuid}}.html.png?v={{timeConverter(false, true)}}" 
                    type="button"><em class="glyphicon glyphicon-eye-open"></em> Plan</a>
                <a ng-show="tasks.length>0 && !planning" class="btn btn-info" ng-class="{'active':mode=='guntt', 'btn-success':mode=='guntt'}" 
                        data-gallery="plan_graphics"
                        href="/static/uploads/guntt_{{project.uuid}}.html.png?v={{timeConverter(false, true)}}" type="button">
                            <em class="glyphicon glyphicon-tasks"></em> Gantt</a>
                        <a ng-show="tasks.length>0 && !planning" class="btn btn-info" 
                            ng-class="{'active':mode=='resource', 'btn-success':mode=='resource'}"
                        data-gallery="plan_graphics"
                        href="/static/uploads/resource_{{project.uuid}}.html.png?v={{timeConverter(false, true)}}" type="button">
                        <em class="glyphicon glyphicon-list-alt"></em> Resources</a>
                    <button ng-show="tasks.length>0 && $parent.isAmin"
                        class="btn btn-info" ng-class="{'active':mode=='profit', 'btn-success':mode=='profit'}" 
                    ng-click="generateReport('profit')" type="button">
                    <em class="glyphicon glyphicon-adjust"></em> Budget</button>
                    <button ng-show="tasks.length>0 && !planning" class="btn btn-info" ng-click="getMSP()" 
                        type="button"><em class="fa fa-file-powerpoint-o"></em> </button>
                    <button ng-show="tasks.length>0 && !planning" class="btn btn-info" ng-click="getCSV()" 
                        type="button"><em class="fa  fa-file-excel-o"></em> </button>
                    <button ng-show="tasks.length>0" class="btn " ng-class="{'btn-info':!planning, 'btn-warning':planning}" ng-click="generateReport(mode)" 
                        type="button"><em class="fa fa-cog" ng-class="{'fa-spin':planning, 'fa-repeat':!planning}"></em> </button>
			</div>
	</div>

    <div class="panel-body" style="background: #FAFAFA;"  ng-show="tasks.length>0">
        <div id="taskList" class="col-md-5 column" ng-include="'pages/pms/tasksListTemplate.html'"></div>
        <div class="col-md-7 column">
            <div id="projectDetailContainer">
                <div class="hidden-sm hidden-xs" id="projectDetailDiv"></div>
            </div>
            </div>
            </div>

            <div class="row clearfix">
				<div class="col-md-3 column">
                </div>
				<div class="col-md-6 column">
                </div>
                <div class="col-md-3 column">
                </div>
            </div>


</div>
<hr/>
</div>
    <div ng-include="'pages/comment/index.html'"></div>

<script>
    $(document).ready(function(){
        $('#taskAddButton').click(function(){
            $('#taskAddModal').modal('show');
        });
        $('#taskSeqButton').click(function(){
            $('#taskSeqModal').modal('show');
        });
        $('#editProjectButton').click(function(){
            $('#projectEditModal').modal('show');
        });




    });
</script>


