<div class="container" ng-init="getProjsData()" >
      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Studio Project&reg;</h3>

    <div class="modal fade" id="projectAddModal" ng-include="'pages/pms/projectAddModalTemplate.html'"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div class="col-md-12" >
    <div class="btn-group"  ng-show="$parent.isAdmin || $parent.isManager"  >
        <button id="projectAddButton" class="btn btn-primary" type="button"><em class="glyphicon glyphicon-plus"></em> Add Project</button>
            <a class="btn btn-info"
            href="/static/uploads/plan.html.png?v={{timeConverter(false, true)}}" target="_new"
            type="button"><em class="glyphicon glyphicon-eye-open"></em> Overall Plan</a>
            <a class="btn btn-info"
            href="/static/uploads/resource.html.png?v={{timeConverter(false, true)}}" target="_new"
            type="button"><em class="glyphicon glyphicon-list-alt"></em> Resources</a>
            <a class="btn btn-info"
            href="/static/uploads/gantt.html.png?v={{timeConverter(false, true)}}" target="_new"
            type="button"><em class="glyphicon glyphicon-list-alt"></em> Gantt</a>


    </div>
</div>
<br/>
<br/>
<div class="col-md-12" ng-show="involving_projects.length>0">
    <h4>Projects you are involving</h4>
	<label>
	Show Completed
	<input type="checkbox" ng-model="options.show_completed" />
	</label>
<table class="table table-responsive table-striped table-hover refresh-container pull-down ">
    <tr class="info">
        <td></td>
        <td>Project</td>
        <td>Start</td>
        <td>End</td>
        <td>Tasks</td>
        <td>Progress</td>
    </tr>
    <tr ng-class="{'success':project.complete==100}" ng-show="project.complete!=100 || options.show_completed"
	 ng-repeat="project in involving_projects | orderBy:'name' track by $index">

        <td>{{$index+1}}</td>
        <td><a href="#/pms/{{project.id}}">{{project.name}}</a></td>
        <td>{{timeConverter(project.start)}}</td>
        <td>{{timeConverter(project.end)}}</td>
        <td>{{project.calculate_number_of_tasks}}</td>
        <td>{{project.complete}}</td>

    </tr>
</table>
</div>





</div>

<script>

        $('#projectAddButton').click(function(){
            $('#projectAddModal').modal('show');
        });

</script>
