<div>
    <input ng-show="tasks.length" type="text" class="form-control" placeholder="Filter Tasks" 
    ng-model="project.filterTaskName" />
    <div id="tasksDiv">
        <div ng-if="tasks.length" style="margin: 0px;" class="alert alert-info alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" 
              aria-hidden="true">
              &times;
           </button>
           <span>This project has {{tasks.length}} tasks.</span>
        </div>
        <table class="table table-responsive table table-bordered table-striped table-hover refresh-container pull-down">
        <tr title="{{task.title}}" class="active" 
            ng-repeat="task in tasks | orderBy:'start' | filter:project.filterTaskName">
            <td class="info">
                <div style="color:grey"><b>{{$index+1}}</b></div>
                <br/>
                <div ng-show="isMyTask(task)">
                    <a><em style="color:rgb(96, 139, 181);" class="glyphicon glyphicon-user"></em></a>
                </div>

            </td>
            <td ng-class="{'success':task.gauge=='ahead of schedule', 'warning':task.gauge=='on schedule', 'danger':task.gauge=='behind schedule'}">
                <em style="color:lightgrey" class="glyphicon glyphicon-list-alt"></em>
                <a class="taskA" ng-click="taskDetail(task.id)"  ng-class="{'farsi':!$parent.isASCII(task.title)}" 
                    style="font-size: 13px;" data-task-title="{{toTitleCase(task.title)}}" 
                    ng-mouseover="taskHoverIn()" ng-mouseleave="taskHoverOut()" 
                    id="task_{{task.id}}" >{{toTitleCase(task.title).slice(0,30)}}</a>

		<span class="pull-right">

		<a href="#/pms/t/{{task.id}}"><em class="fa fa-link"></em></a>
		<small class="text-info"><b>{{task.effort}}</b> H</small>
		</span>


            <div class="progress" style="height:3px;margin-bottom: 0px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{task.complete}}" 
                    aria-valuemin="0" aria-valuemax="100" style="width: {{task.complete}}%;">
                  <span class="sr-only">{{task.complete}}% Complete</span>
              </div>
            </div>

            <small style="color:grey" ng-repeat="person in task.resources track by $index">
                <a ng-show="person.id!=$parent.userInfo.userid" style="color:grey" href="#/user/{{person.id}}">{{person.lastname}}</a>
                <a ng-show="person.id==$parent.userInfo.userid" style="color:grey" href="#/user/{{person.id}}"><strong>You</strong></a>
                <small ng-if="$index!=task.resources.length-1">, </small>
            </small>
	    <small ng-class="{'text-info':task.gauge=='on schedule', 'text-warning':task.gauge=='behind schedule', 'text-success':task.gauge=='ahead of schedule'}"> | {{task.complete}}% - {{task.gauge}}</small>
            <br/>
            <a class="taskDetailOptions glyphicon glyphicon-edit"
                 data-toggle="modal" data-target="#taskReviewModal"
                ng-click="taskDetail(task.id, true)"
                style="padding:3px;cursor:pointer;text-decoration:none;color:grey" ></a>
            </td>
            <td>
                        <div ng-show="task.effort==0">
                    <a><em style="color:#515151" class="glyphicon glyphicon-screenshot"></em></a>
                </div>
               <div ng-show="task.complete==100">
                    <em style="color:green" class="glyphicon glyphicon-ok"></em>
                </div>
                <div ng-show="task.dependent_of.length>0">
                    <em style="color:grey" class="glyphicon glyphicon-export"></em>
                </div>
                <div ng-show="task.depends.length>0">
                    <em style="color:grey" class="glyphicon glyphicon-import"></em>
                </div>
        </tr>
        </table>
    </div>
</div>




<div class="modal fade" id="taskReviewModal" ng-init="" ng-include="'pages/pms/taskReviewModalTemplate.html'"
    role="dialog" aria-labelledby="taskReviewModal" aria-hidden="true"></div>
