

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


@font-face { font-family: 'YEKAN_0'; src: local('b BYekan'),url('../fonts/YEKAN_0.TTF') format('truetype'); } 
.right{ direction:rtl; font-family: 'Terafik'; }

@font-face{font-family:"Terafik";
    src:url('../fonts/terafik.eot');
    src:url('../fonts/terafik.eot?#iefix') format('embedded-opentype'),
        url('../fonts/terafik.svg#Terafik') format('svg'),
        url('../fonts/terafik.woff') format('woff'),
        url('../fonts/terafik.ttf') format('truetype')
    }

@font-face { font-family: 'YEKAN_0'; src: local('b BYekan'),url('../fonts/YEKAN_0.TTF') format('truetype'); } 

#profileImageDiv :hover {
    opacity: .75;
    cursor:pointer;
}

#projectGrid {
    height: auto;
  }

#projectNameDiv
{
    margin:5px;
    border:1px solid #ccc;
    padding:5px;
    height:200px;
}
#projectDetailDiv{
     margin:5px;
    min-height:200px;

}
.taskA:hover {
    cursor:pointer;
}

#projectDetailContainer{
    width:100%;
    min-height: 100px;
/*
    background: url('../images/loading_3.gif') no-repeat center;
    background-size: 164px 128px;
    background-position: 40% 10%;
*/
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
    min-height: 16.42857143px;
    background: #3F87C5;
    color: #fff;
    border-radius: 2px;
}
.form-horizontal {
    background: #F8F8F8;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #ccc;
/* box-shadow: inset 0px 0px 15px rgba(17, 17, 17, 0.12); */
}

.modal-body {
    position: relative;
    padding: 6px;
/* box-shadow: inset 0px 0px 10px rgba(17, 17, 17, 1); */
}

.modal-content {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #E5E5E5;
    background: rgba(26, 26, 26, 0.84);
}


.form-group {
    margin-bottom: 5px;


}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    background: #FFFFDF;
}
table { 
    border-collapse: inherit;
    border-spacing: 0px;
}


.useracessDiv{
    padding:5px;
    border-bottom:1px solid #ccc;
    min-height:110px;
}

.useracessDiv:last-of-type {
    padding:5px;
    border-bottom:0px solid #ccc;
    min-height:110px;
}
.useracessDiv:first-of-type {
    padding:5px;
    border-top:1px solid #34AFD5;
    min-height:110px;
}

#report_textarea{
    min-height:200px;
    margin:auto;
    font-size:14px;
}

.farsi {
    direction:rtl !important;
    text-align:right !important;
    font-family:terafik !important;
    -webkit-font-smoothing: antialiased;
}

#SequencesDiv{
    padding:20px;
}
.projectSeqA {
    background:#6EA4B5;
    color:#f2f2f2;
    padding:1px;
    margin:1px;
    display:inline-block;
    border:1px solid #eee;
    border-radius:5px;
    width:29px;
    text-align:center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.projectSeqA:hover {
    text-decoration: none;
    color: white;
    background: #2aabd2;
    border: 1px solid #ccc;
    transform: scale(2,2);
    box-shadow: 1px 1px 20px #333;

}


#canvasDiv{
    margin-left:64px;
}


.projectCollectionsA {
    background: #467A89;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    /* font-weight: bold; */
    margin: 1px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word;
    vertical-align: middle;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.projectCollectionsA:hover {
    text-decoration: none;
    color: white;
    background: #6BBCE5;
    border: 1px solid #9B9B9B;
    transform: scale(1.05,1.05);
    box-shadow: 1px 1px 20px #6A7D98;
}
#AssetsAndSequencesOfProject{
    background: #F5F5F5;
    padding: 10px;
    border-radius: 5px;
}
#ManagementDivProject{
    padding:10px;
    border-radius:5px;
}

#projectSummery{
    background:#F2F6FF;
    border-radius:5px;
}
#projectDescription{
}
#projectDescription p{ 
    word-wrap: break-word;
}
#projectDescription p::first-letter { 
    font-size: 300%;
}
#projectDetailContainer{
    overflow: auto;
}
#calendar{
box-shadow: inset 0px 0px 9px #B5B5B5;
padding: 7px;
}

.asm_col_thumb_img{
border:1px solid #fff;
opacity:0.75;
}

.asm_col_thumb_img:hover {
opacity: 1;
}

#ams_assets{
background:#ccc;
padding:10px;
border-radius:5px;
border: 2px solid #ccc;
box-shadow: inset 0px 0px 35px #9B9B9B;
text-shadow: 0px 1px 1px #FFF;
}
.asm_thumb{
box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
border-radius: 5px;
height:250px;
}

.asm_thumb_solo{
box-shadow: 1px 1px 10px #333;
background: #f2f2f2;
border:5px solid #ccc;
}

.asm_upper{
height: 130px;
border:1px solid #AEAEAE;
margin-bottom: 10px;
background:#fff;
box-shadow: inset 0px 0px 60px #C5C5C5;
}

.asm_upper:hover {

}

.asm_upper video{
    margin-top:10px !important;
}

.asm_thumb:hover {
transform: scale(1.1,1.1) rotate(2deg);
z-index:999;
background: #FFF6D2;
cursor:pointer;
}

#invoice{
padding:10px;
border:1px solid #ccc;
border-radius:5px;
font-size: 13px;
}
li.ui-state-default{
    background:#fff0;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

li.ui-state-default:last-child {
    border-bottom:none;
}

.video-js {
background-color: #000;
position: relative;
padding: 0;
font-size: 10px;
vertical-align: middle;
margin-left: auto;
margin-right: auto;
font-weight: 400;
font-style: normal;
font-family: Arial,sans-serif;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.vjs-default-skin .vjs-play-progress { background: #999; }


.iconized{
transform: rotate(5deg) scale(1.05,1.05);
opacity:1 !important;
box-shadow: -6px 6px 8px #B0B0B0;
}


.commentText{
word-wrap: break-word;
}


.error-body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.progress {
background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
background-image: linear-gradient(to bottom,#FFFFFF 0,#f5f5f5 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

.progress-bar {
background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
background-image: linear-gradient(to bottom,rgba(83, 164, 215, 0.99) 0,#FAF1AE 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

#taskList{
background: #F2F2F2;
padding: 1px;
color: #333;
border: 1px solid #D8D8D8;
}

.strong{
font-weight:bold;
}


.typeahead {
  background-color: #fff;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 200px;
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion + .tt-suggestion {
  font-size: 14px;
  border-top: 1px solid #ccc;
}

.tt-suggestions .repo-language {
  float: right;
  font-style: italic;
}

.tt-suggestions .repo-name {
  font-size: 20px;
  font-weight: bold;
}

.tt-suggestions .repo-description {
  margin: 0;
}

.pageFade.ng-enter{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

}

.pageFade.ng-enter{
 opacity: 0;
}
.pageFade.ng-enter-active{
 opacity:1;
}

.pageFade.ng-leave{
 opacity:1;
}
.pageFade.ng-leave-active{
 opacity:0;
}


.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}




.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

